.game_view {
    position: absolute;
}

.game_element {
    position: absolute;
    background-position: 0px 0px;
}

.center_position {
    position: absolute;
}

body {
    background-color: black;
}